<a href="{{ path('homepage') }}">
    <img src="{{ asset('assets/images/logo.png') }}" class="logo image">
</a>
<div class="ui divider"></div>
<h3 class="ui header">
    {% if personName != false %}
        {{ personName }}&nbsp;
    {% endif %}
    {{ message }}
</h3>